@using TodoApp.Api.DTO
<li>
    <input type="checkbox" @bind="Task.IsDone" />
    <span style="@(Task.IsDone ? "text-decoration: line-through;" : "")">@Task.Title</span>
    <button class="btn btn-danger btn-sm" @onclick="() => OnDelete.InvokeAsync(Task)">❌</button>
</li>

@code {
    [Parameter] public TodoItem Task { get; set; }
    [Parameter] public EventCallback<TodoItem> OnDelete { get; set; }
}